<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivgeorgiev.lis4ita">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.FetchUsers" />
        <activity android:name=".activities.GameSettings" />

        <activity android:name=".activities.loginRegister.RegisterActivity">
             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
             </intent-filter>
        </activity>

        <activity android:name=".activities.loginRegister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SubmitWords" />

        <activity android:name=".activities.InGameActivity" />

        <activity android:name=".activities.TeamMembersActivity"/>


        <service android:name=".backgroundServices.BackgroundServices" />

        <service android:name=".backgroundServices.InGameBackgroundService"/>

        <service android:name=".backgroundServices.TeamsBackgroundService" />

    </application>

</manifest>